@import 'colors';

html {
    .dark {
        color: $darkest-white;

        *::selection:not(button) {
            background: $dark-minor-selected-background;
            color: $dark-minor-selected-color;
        }

        background: $dark-main-background;

        a {
            // color: $dark-headers-color;
            &::selection:not(:hover) {
                background: $dark-main-selected-background !important;
                color: $dark-main-selected-color !important;
            }

            &:hover {
                color: $dark-subtitles-color !important;
            }
        }

        &::-webkit-scrollbar-thumb {
            background-color: $dark-headers-color;
        }

        &::-webkit-scrollbar-track {
            background: inherit;
        }

        .back-to-top {
            background: $dark-headers-color;
            &::selection {
                background: $dark-main-selected-background !important;
                color: $dark-main-selected-color !important;
            }
            color: $main-white;
        }

        #hero {
            background: url(../../img/hero/dark.svg) top center;
            transition: all 0.5s;

            h1 {
                color: $main-white;
            }

            p {
                color: $main-white;

                span {
                    color: $main-white;

                    border-bottom: 3px solid $dark-headers-color;
                }
            }
        }

        #main {
            .section-bg {
                background-color: $dark-sub-background;
            }
            .section-title {
                h2 {
                    color: $dark-headers-color !important;
                    &::selection {
                        background: $dark-main-selected-background !important;
                        color: $dark-main-selected-color !important;
                    }
                }
                &::after {
                    background: $dark-headers-color;
                }
            }

            .about {
                .content {
                    h3 {
                        color: $dark-titles-color;
                        &::selection {
                            background: $dark-main-selected-background !important;
                            color: $dark-main-selected-color !important;
                        }
                    }

                    ul {
                        i {
                            color: $dark-titles-color;
                            &::selection {
                                background: $dark-main-selected-background !important;
                                color: $dark-main-selected-color !important;
                            }
                        }
                    }
                }
            }

            .resume {
                .resume-title {
                    color: $dark-titles-color;
                    &::selection {
                        background: $dark-main-selected-background !important;
                        color: $dark-main-selected-color !important;
                    }
                }

                .resume-item {
                    border-left: 2px solid $dark-headers-color;

                    &::before {
                        background: $main-white;
                        border: 2px solid $dark-headers-color;
                    }

                    a {
                        color: $darkest-white;
                        text-decoration: underline;
                        text-underline-offset: 1px;
                        cursor: pointer;
                    }

                    h4 {
                        color: $dark-subtitles-color;
                        &::selection {
                            background: $dark-main-selected-background !important;
                            color: $dark-main-selected-color !important;
                        }
                        sub {
                            &::selection {
                                background: $dark-main-selected-background !important;
                                color: $dark-main-selected-color !important;
                            }
                        }
                    }

                    h5 {
                        background: $dark-lightest-background;
                    }
                }
            }

            .portfolio {
                #portfolio-flters {
                    background: $dark-main-background;

                    .filter-active {
                        color: $dark-titles-color !important;
                        &::selection {
                            background: $dark-main-selected-background !important;
                            color: $dark-main-selected-color !important;
                        }
                    }

                    li {
                        color: inherit;

                        &:hover {
                            color: $dark-titles-color !important;
                            &::selection {
                                background: $dark-main-selected-background !important;
                                color: $dark-main-selected-color !important;
                            }
                        }
                    }
                }
            }

            .facts {
                .count-box {
                    i {
                        color: $dark-headers-color;
                        &::selection {
                            background: $dark-main-selected-background !important;
                            color: $dark-main-selected-color !important;
                        }
                    }

                    span {
                        color: $dark-subtitles-color;
                        &::selection {
                            background: $dark-main-selected-background !important;
                            color: $dark-main-selected-color !important;
                        }
                    }

                    p {
                        color: $dark-headers-color;
                        &::selection {
                            background: $dark-main-selected-background !important;
                            color: $dark-main-selected-color !important;
                        }
                    }

                    a {
                        color: $dark-subtitles-color;
                        &::selection {
                            background: $dark-main-selected-background !important;
                            color: $dark-main-selected-color !important;
                        }

                        &:hover {
                            color: $dark-headers-color;
                        }
                    }
                }
            }

            .skills {
                .progress {
                    .skill {
                        color: inherit;
                    }
                }

                .progress-bar-wrap {
                    background: $darkest-white;
                }
                .progress-bar {
                    background-color: $dark-titles-color;
                }
            }

            .services {
                .icon-box {
                    .icon {
                        background: $dark-titles-color;
                        border: 1px solid $dark-titles-color;

                        i {
                            color: $main-white;
                        }
                    }

                    &:hover .icon {
                        background: $dark-subtitles-color;

                        // i {
                        //     color: $dark-headers-color;
                        // }
                        border: 1px solid $dark-main-background;
                    }

                    .title {
                        p {
                            color: $dark-titles-color;
                            &::selection {
                                background: $dark-main-selected-background !important;
                                color: $dark-main-selected-color !important;
                            }

                            &:hover {
                                color: $dark-subtitles-color;
                            }
                        }
                    }
                }
            }
        }

        .testimonials {
            .testimonials-item {
                h3 {
                    color: $darken-white;
                }
                h4 {
                    color: $darkest-white;
                }

                .quote-icon-left,
                .quote-icon-right {
                    color: $dark-subtitles-color;
                    &::selection {
                        background: $dark-main-selected-background !important;
                        color: $dark-main-selected-color !important;
                    }
                }

                p {
                    background: $main-white;

                    &::after {
                        border-top: 20px solid $main-white;
                    }
                }
            }

            .owl-page {
                background-color: $darken-white !important;
            }

            .owl-pagination {
                .active {
                    background-color: $dark-headers-color !important;
                    &::selection {
                        background: $dark-main-selected-background !important;
                        color: $dark-main-selected-color !important;
                    }
                }
            }
        }

        .contact {
            .info {
                background: $dark-sub-background;
                box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);

                i {
                    color: $dark-titles-color;
                    &::selection {
                        background: $dark-main-selected-background !important;
                        color: $dark-main-selected-color !important;
                    }

                    background: $dark-main-background;
                }
                h4 {
                    color: $dark-titles-color;
                    &::selection {
                        background: $dark-main-selected-background !important;
                        color: $dark-main-selected-color !important;
                    }
                }
                p {
                    color: inherit;
                }

                .address:hover i,
                .email:hover i,
                .phone:hover i {
                    background: $dark-headers-color;
                    color: $main-white;
                }
            }

            .email-form {
                background: $dark-sub-background;
                box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
                input,
                textarea {
                    background: $dark-main-background;
                    border: none;
                    color: $darkest-white;

                    &:focus {
                        box-shadow: 0 0 0 3px $dark-subtitles-color;
                    }
                }

                button[type='submit'] {
                    background: $dark-titles-color;
                    color: $darkest-white;

                    &::selection {
                        background: $dark-main-selected-background !important;
                        color: $dark-main-selected-color !important;
                    }

                    &:hover {
                        background: $dark-subtitles-color;
                    }
                }
            }
        }

        .social-links {
            a {
                background: $dark-subtitles-color;
                color: $main-white;

                &:hover {
                    background: $dark-headers-color;
                    color: $black !important;
                }
            }
        }

        .back-to-top {
            background: $dark-subtitles-color;
            color: $main-white;

            &:hover {
                color: $main-white !important;
                background: $dark-headers-color;
            }
        }

        #header {
            background: $dark-lightest-background;

            .profile {
                img {
                    border: 8px solid $dark-subtitles-color;
                }

                h1 {
                    a,
                    a:hover {
                        color: $main-white;
                    }
                }
            }

            .nav-menu {
                a {
                    i {
                        color: $main-white;
                    }
                    span {
                        color: $darken-white;
                    }
                }
                .active > a,
                a:hover,
                li:hover > a {
                    text-decoration: none;
                    color: $main-white;
                }

                .active > a i,
                a:hover i,
                li:hover > a i {
                    color: $dark-headers-color;
                }
            }

            .mobile-nav-toggle {
                i {
                    color: $dark-headers-color;
                    &::selection {
                        background: $dark-main-selected-background !important;
                        color: $dark-main-selected-color !important;
                    }
                }
            }
        }
    }
}
