$main-white: darken(#ffffff, 10%);
$darken-white: darken(#ffffff, 20%);
$darkest-white: darken(#ffffff, 30%);

$dark-headers-color: darken(#ff0000, 15%);
$dark-titles-color: darken(#ff0000, 20%);
$dark-subtitles-color: darken(#ff0000, 25%);

$dark-main-background: #090c10;
$dark-sub-background: #0d1117;
$dark-lightest-background: #161b22;

$light-headers-color: darken(#ff0000, 15%);
$light-titles-color: darken(#ff0000, 20%);
$light-subtitles-color: darken(#ff0000, 25%);

$light-main-background: #090c10;
$light-sub-background: #0d1117;
$light-lightest-background: #161b22;
