@import 'colors';

html {
    .dark {
        color: #cacaca;
        background: #090c10;

        a {
            color: #e50000;

            &:hover {
                color: #990000 !important;
            }
        }

        &::-webkit-scrollbar-thumb {
            background-color: #e50000;
        }

        &::-webkit-scrollbar-track {
            background: inherit;
        }

        .back-to-top {
            background: #e50000;
            color: #ffffff;
        }

        #hero {
            background: url(../img/hero/dark.svg) top center;

            h1 {
                color: #ffffff;
            }

            p {
                color: #ffffff;

                span {
                    color: #ffffff;

                    border-bottom: 3px solid #e50000;
                }
            }
        }

        #main {
            .section-bg {
                background-color: #0d1117;
            }
            .section-title {
                h2 {
                    color: #e50000 !important;
                }
                &::after {
                    background: #e50000;
                }
            }

            .about {
                .content {
                    h3 {
                        color: #cc0000;
                    }

                    ul {
                        i {
                            color: #cc0000;
                        }
                    }
                }
            }

            .resume {
                .resume-title {
                    color: #cc0000;
                }

                .resume-item {
                    border-left: 2px solid #e50000;

                    &::before {
                        background: #ffffff;
                        border: 2px solid #e50000;
                    }

                    a {
                        color: #cacaca;
                    }

                    h4 {
                        color: #990000;
                    }

                    h5 {
                        background: #161b22;
                    }
                }
            }

            .portfolio {
                #portfolio-flters {
                    background: #090c10;

                    .filter-active {
                        color: #cc0000 !important;
                    }

                    li {
                        color: inherit;

                        &:hover {
                            color: #cc0000 !important;
                        }
                    }
                }
            }

            .facts {
                .count-box {
                    i {
                        color: #e50000;
                    }

                    span {
                        color: #990000;
                    }

                    p {
                        color: #e50000;
                    }

                    a {
                        color: #990000;

                        &:hover {
                            color: #e50000;
                        }
                    }
                }
            }

            .skills {
                .progress {
                    .skill {
                        color: inherit;
                    }
                }

                .progress-bar-wrap {
                    background: #cacaca;
                }
                .progress-bar {
                    background-color: #cc0000;
                }
            }

            .services {
                .icon-box {
                    .icon {
                        background: #cc0000;
                        border: 1px solid #cc0000;

                        i {
                            color: #ffffff;
                        }
                    }

                    &:hover .icon {
                        background: #ffffff;

                        i {
                            color: #e50000;
                        }
                    }

                    .title {
                        a {
                            color: #cc0000;

                            &:hover {
                                color: #990000;
                            }
                        }
                    }
                }
            }
        }

        .testimonials {
            .testimonials-item {
                h3 {
                    color: #dddddd;
                }
                h4 {
                    color: #cacaca;
                }

                .quote-icon-left,
                .quote-icon-right {
                    color: #990000;
                }

                p {
                    background: #ffffff;

                    &::after {
                        border-top: 20px solid #ffffff;
                    }
                }
            }

            .owl-page {
                background-color: #dddddd !important;
            }

            .owl-pagination {
                .active {
                    background-color: #e50000 !important;
                }
            }
        }

        .contact {
            .info {
                background: #0d1117;
                box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);

                i {
                    color: #cc0000;

                    background: #090c10;
                }
                h4 {
                    color: #cc0000;
                }
                p {
                    color: inherit;
                }

                .address:hover i,
                .email:hover i,
                .phone:hover i {
                    background: #e50000;
                    color: #ffffff;
                }
            }

            .email-form {
                background: #0d1117;
                box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
                input,
                textarea {
                    background: #090c10;
                    border: none;
                    color: #cacaca;
                }

                button[type='submit'] {
                    background: #cc0000;
                    color: #cacaca;

                    &:hover {
                        background: #990000;
                    }
                }
            }
        }

        .social-links {
            a {
                background: #990000;
                color: #ffffff;

                &:hover {
                    background: #e50000;
                    color: #ffffff;
                }
            }
        }

        .back-to-top {
            background: #990000;
            color: #ffffff;

            &:hover {
                color: #ffffff !important;
                background: #e50000;
            }
        }

        #header {
            background: #161b22;

            .profile {
                img {
                    border: 8px solid #990000;
                }

                h1 {
                    a,
                    a:hover {
                        color: #ffffff;
                    }
                }
            }

            .nav-menu {
                a {
                    color: #cacaca;
                }
                .active > a,
                a:hover,
                li:hover > a {
                    text-decoration: none;
                    color: #ffffff;
                }

                .active > a i,
                a:hover i,
                li:hover > a i {
                    color: #e50000;
                }
            }

            .mobile-nav-toggle {
                i {
                    color: #e50000;
                }
            }
        }
    }
}

// .portfolio #portfolio-flters li.filter-active,
// .portfolio #portfolio-flters li:hover {
//     color: #e50000 !important;
// }
