html .light {
  color: #272829;
}

html .light a {
  color: #149ddd;
}

html .light a:hover {
  color: #37b3ed;
}

html .light::-webkit-scrollbar-thumb {
  background-color: #149ddd;
}

html .light::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0) !important;
}

html .light .back-to-top {
  background: #149ddd;
  color: #fff;
}

html .light #hero {
  background: url(../img/hero/a.svg) top center;
}

html .light #hero h1 {
  color: #fff;
}

html .light #hero p {
  color: #fff;
}

html .light #hero p span {
  color: #fff;
  border-bottom: 3px solid #149ddd;
}

html .light #main .section-bg {
  background-color: #f5f8fd;
}

html .light #main .section-title .section-title h2 {
  color: #173b6c;
}

html .light #main .section-title .section-title h2::after {
  background: #149ddd;
}

html .light #main .about .content h3 {
  color: #173b6c;
}

html .light #main .about .content ul i {
  color: #149ddd;
}

html .light #main .resume .resume-title {
  color: #050d18;
}

html .light #main .resume .resume-item {
  border-left: 2px solid #1f5297;
}

html .light #main .resume .resume-item::before {
  background: #fff;
  border: 2px solid #1f5297;
}

html .light #main .resume .resume-item a {
  color: #000;
}

html .light #main .resume .resume-item h4 {
  color: #050d18;
}

html .light #main .resume .resume-item h5 {
  background: #e4edf9;
}

html .light #main .portfolio #portfolio-flters {
  background: #fff;
}

html .light #main .portfolio #portfolio-flters .filter-active {
  color: #149ddd !important;
}

html .light #main .portfolio #portfolio-flters li {
  color: #272829;
}

html .light #main .portfolio #portfolio-flters li:hover {
  color: #149ddd !important;
}

html .light #main .facts .count-box i {
  color: #149ddd;
}

html .light #main .facts .count-box span {
  color: #050d18;
}

html .light #main .facts .count-box p {
  color: #122f57;
}

html .light #main .facts .count-box a {
  color: #122f57;
}

html .light #main .facts .count-box a:hover {
  color: #1f5297;
}

html .light #main .skills .progress .skill {
  color: #050d18;
}

html .light #main .skills .progress-bar-wrap {
  background: #aaa;
}

html .light #main .skills .progress-bar {
  background-color: #149ddd;
}

html .light #main .services .icon-box .icon {
  background: #149ddd;
  border: 1px solid #149ddd;
}

html .light #main .services .icon-box .icon i {
  color: #fff;
}

html .light #main .services .icon-box:hover .icon {
  background: #fff;
}

html .light #main .services .icon-box:hover .icon i {
  color: #149ddd;
}

html .light #main .services .icon-box .title a {
  color: #343a40;
}

html .light #main .services .icon-box .title a:hover {
  color: #149ddd;
}

html .light .testimonials .testimonials-item h3 {
  color: #111;
}

html .light .testimonials .testimonials-item h4 {
  color: #999;
}

html .light .testimonials .testimonials-item .quote-icon-left,
html .light .testimonials .testimonials-item .quote-icon-right {
  color: #c3e8fa;
}

html .light .testimonials .testimonials-item p {
  background: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

html .light .testimonials .testimonials-item p::after {
  border-top: 20px solid #fff;
}

html .light .testimonials .owl-page {
  background-color: #ddd !important;
}

html .light .testimonials .owl-pagination .active {
  background-color: #149ddd !important;
}

html .light .contact .info {
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

html .light .contact .info i {
  color: #149ddd;
  background: #dff3fc;
}

html .light .contact .info h4 {
  color: #050d18;
}

html .light .contact .info p {
  color: #173b6c;
}

html .light .contact .info .address:hover i,
html .light .contact .info .email:hover i,
html .light .contact .info .phone:hover i {
  background: #149ddd;
  color: #fff;
}

html .light .contact .email-form {
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

html .light .contact .email-form button[type='submit'] {
  background: #149ddd;
}

html .light .contact .email-form button[type='submit']:hover {
  background: #004e72;
}

html .light .social-links a {
  background: #212431;
  color: #fff;
}

html .light .social-links a:hover {
  background: #149ddd;
  color: #fff;
}

html .light #footer {
  color: #f4f6fd;
  background: #040b14;
}

html .light #footer .credits {
  color: #eaebf0;
}

html .light .back-to-top {
  background: #149ddd;
  color: #fff;
}

html .light .back-to-top:hover {
  color: #fff;
  background: #1f5297;
}

html .light .check-container h2 {
  color: #525252;
}

html .light .check-container p {
  color: #b5b9b7;
}

html .light .check-container .check .checkmark {
  stroke: #fff;
  box-shadow: inset 0 0 0 #7ac142;
}

html .light .check-container .check .checkmark .checkmark__circle {
  stroke: #7ac142;
}

html .light .check-container .landingButton {
  border: 2px solid #149ddd;
}

html .light .check-container .landingButton:before {
  background-color: #149ddd;
}

html .light .check-container .landingButton:hover span {
  color: #fff;
}

html .light .success-footer {
  background: #040b14;
  color: #eee;
}

@keyframes fill {
  100% {
    box-shadow: inset 0 0 0 30px #7ac142;
  }
}

html .light #header {
  background: #040b14;
}

html .light #header .profile img {
  border: 8px solid #2c2f3f;
}

html .light #header .profile h1 a,
html .light #header .profile h1 a:hover {
  color: #fff;
}

html .light #header .nav-menu a {
  color: #a8a9b4;
}

html .light #header .nav-menu a i {
  color: #6f7180;
}

html .light #header .nav-menu .active > a,
html .light #header .nav-menu a:hover,
html .light #header .nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}

html .light #header .nav-menu .active > a i,
html .light #header .nav-menu a:hover i,
html .light #header .nav-menu li:hover > a i {
  color: #149ddd;
}

html .light #header .mobile-nav-toggle i {
  color: #149ddd;
}
