@import 'colors';

html {
    .light {
        color: $lightest-black;
        background: $light-main-background;

        a {
            color: $light-headers-color;

            &:hover {
                color: $light-subtitles-color !important;
            }
        }

        &::-webkit-scrollbar-thumb {
            background-color: $light-headers-color;
        }

        &::-webkit-scrollbar-track {
            background: inherit;
        }

        .back-to-top {
            background: $light-headers-color;
            color: $main-black;
        }

        #hero {
            background: url(../img/hero/light.svg) top center;
            transition: all 0.5s;

            h1 {
                color: $main-black;
            }

            p {
                color: $main-black;

                span {
                    color: $main-black;

                    border-bottom: 3px solid $light-headers-color;
                }
            }
        }

        #main {
            .section-bg {
                background-color: $light-sub-background;
            }
            .section-title {
                h2 {
                    color: $light-headers-color !important;
                }
                &::after {
                    background: $light-headers-color;
                }
            }

            .about {
                .content {
                    h3 {
                        color: $light-titles-color;
                    }

                    ul {
                        i {
                            color: $light-titles-color;
                        }
                    }
                }
            }

            .resume {
                .resume-title {
                    color: $light-titles-color;
                }

                .resume-item {
                    border-left: 2px solid $light-headers-color;

                    &::before {
                        background: $main-white;
                        border: 2px solid $light-headers-color;
                    }

                    a {
                        color: $lightest-black;
                    }

                    h4 {
                        color: $light-subtitles-color;
                    }

                    h5 {
                        background: $light-darkest-background;
                    }
                }
            }

            .portfolio {
                #portfolio-flters {
                    background: $light-main-background;

                    .filter-active {
                        color: $light-titles-color !important;
                    }

                    li {
                        color: inherit;

                        &:hover {
                            color: $light-titles-color !important;
                        }
                    }
                }
            }

            .facts {
                .count-box {
                    i {
                        color: $light-headers-color;
                    }

                    span {
                        color: $light-subtitles-color;
                    }

                    p {
                        color: $light-headers-color;
                    }

                    a {
                        color: $light-subtitles-color;

                        &:hover {
                            color: $light-headers-color;
                        }
                    }
                }
            }

            .skills {
                .progress {
                    .skill {
                        color: inherit;
                    }
                }

                .progress-bar-wrap {
                    background: $lightest-black;
                }
                .progress-bar {
                    background-color: $light-titles-color;
                }
            }

            .services {
                .icon-box {
                    .icon {
                        background: $light-titles-color;
                        border: 1px solid $light-titles-color;

                        i {
                            color: $main-black;
                        }
                    }

                    &:hover .icon {
                        background: $light-subtitles-color;

                        // i {
                        //     color: $light-headers-color;
                        // }
                        border: 1px solid $light-main-background;
                    }

                    .title {
                        p {
                            color: $light-titles-color;

                            &:hover {
                                color: $light-subtitles-color;
                            }
                        }
                    }
                }
            }
        }

        .testimonials {
            .testimonials-item {
                h3 {
                    color: $lighten-black;
                }
                h4 {
                    color: $lightest-black;
                }

                .quote-icon-left,
                .quote-icon-right {
                    color: $light-subtitles-color;
                }

                p {
                    background: $main-black;

                    &::after {
                        border-top: 20px solid $main-black;
                    }
                }
            }

            .owl-page {
                background-color: $lighten-black !important;
            }

            .owl-pagination {
                .active {
                    background-color: $light-headers-color !important;
                }
            }
        }

        .contact {
            .info {
                background: $light-sub-background;
                box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);

                i {
                    color: $light-titles-color;

                    background: $light-main-background;
                }
                h4 {
                    color: $light-titles-color;
                }
                p {
                    color: inherit;
                }

                .address:hover i,
                .email:hover i,
                .phone:hover i {
                    background: $light-headers-color;
                    color: $main-black;
                }
            }

            .email-form {
                background: $light-sub-background;
                box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
                input,
                textarea {
                    background: $light-darkest-background;
                    border: none;
                    color: $lightest-black;

                    &:focus {
                        box-shadow: 0 0 0 3px $light-subtitles-color;
                    }
                }

                button[type='submit'] {
                    background: $light-titles-color;
                    color: $main-white;

                    &:hover {
                        background: $light-subtitles-color;
                    }
                }
            }
        }

        .social-links {
            a {
                background: $light-subtitles-color;
                color: $main-black;

                &:hover {
                    background: $light-headers-color;
                    color: $main-white !important;
                }
            }
        }

        .back-to-top {
            background: $light-subtitles-color;
            color: $main-black;

            &:hover {
                color: $main-black !important;
                background: $light-headers-color;
            }
        }

        #header {
            background: $light-darkest-background;

            .profile {
                img {
                    border: 8px solid $light-subtitles-color;
                }

                h1 {
                    a,
                    a:hover {
                        color: $main-black;
                    }
                }
            }

            .nav-menu {
                a {
                    i {
                        color: $main-black;
                    }
                    span {
                        color: $lighten-black;
                    }
                }
                .active > a,
                a:hover,
                li:hover > a {
                    text-decoration: none;
                    color: $main-black;
                }

                .active > a i,
                a:hover i,
                li:hover > a i {
                    color: $light-headers-color;
                }
            }

            .mobile-nav-toggle {
                i {
                    color: $light-headers-color;
                }
            }
        }
    }
}

// .portfolio #portfolio-flters li.filter-active,
// .portfolio #portfolio-flters li:hover {
//     color: $light-headers-color !important;
// }
