html .light {
  color: #4d4d4d;
  background: #f7f7f7;
}

html .light a {
  color: #00a300;
}

html .light a:hover {
  color: #008500 !important;
}

html .light::-webkit-scrollbar-thumb {
  background-color: #00a300;
}

html .light::-webkit-scrollbar-track {
  background: inherit;
}

html .light .back-to-top {
  background: #00a300;
  color: #1a1a1a;
}

html .light #hero {
  background: url(../img/hero/light.svg) top center;
  transition: all 0.5s;
}

html .light #hero h1 {
  color: #1a1a1a;
}

html .light #hero p {
  color: #1a1a1a;
}

html .light #hero p span {
  color: #1a1a1a;
  border-bottom: 3px solid #00a300;
}

html .light #main .section-bg {
  background-color: #f0f0f0;
}

html .light #main .section-title h2 {
  color: #00a300 !important;
}

html .light #main .section-title::after {
  background: #00a300;
}

html .light #main .about .content h3 {
  color: #009400;
}

html .light #main .about .content ul i {
  color: #009400;
}

html .light #main .resume .resume-title {
  color: #009400;
}

html .light #main .resume .resume-item {
  border-left: 2px solid #00a300;
}

html .light #main .resume .resume-item::before {
  background: #e6e6e6;
  border: 2px solid #00a300;
}

html .light #main .resume .resume-item a {
  color: #4d4d4d;
}

html .light #main .resume .resume-item h4 {
  color: #008500;
}

html .light #main .resume .resume-item h5 {
  background: #e8e8e8;
}

html .light #main .portfolio #portfolio-flters {
  background: #f7f7f7;
}

html .light #main .portfolio #portfolio-flters .filter-active {
  color: #009400 !important;
}

html .light #main .portfolio #portfolio-flters li {
  color: inherit;
}

html .light #main .portfolio #portfolio-flters li:hover {
  color: #009400 !important;
}

html .light #main .facts .count-box i {
  color: #00a300;
}

html .light #main .facts .count-box span {
  color: #008500;
}

html .light #main .facts .count-box p {
  color: #00a300;
}

html .light #main .facts .count-box a {
  color: #008500;
}

html .light #main .facts .count-box a:hover {
  color: #00a300;
}

html .light #main .skills .progress .skill {
  color: inherit;
}

html .light #main .skills .progress-bar-wrap {
  background: #4d4d4d;
}

html .light #main .skills .progress-bar {
  background-color: #009400;
}

html .light #main .services .icon-box .icon {
  background: #009400;
  border: 1px solid #009400;
}

html .light #main .services .icon-box .icon i {
  color: #1a1a1a;
}

html .light #main .services .icon-box:hover .icon {
  background: #008500;
  border: 1px solid #f7f7f7;
}

html .light #main .services .icon-box .title p {
  color: #009400;
}

html .light #main .services .icon-box .title p:hover {
  color: #008500;
}

html .light .testimonials .testimonials-item h3 {
  color: #333333;
}

html .light .testimonials .testimonials-item h4 {
  color: #4d4d4d;
}

html .light .testimonials .testimonials-item .quote-icon-left,
html .light .testimonials .testimonials-item .quote-icon-right {
  color: #008500;
}

html .light .testimonials .testimonials-item p {
  background: #1a1a1a;
}

html .light .testimonials .testimonials-item p::after {
  border-top: 20px solid #1a1a1a;
}

html .light .testimonials .owl-page {
  background-color: #333333 !important;
}

html .light .testimonials .owl-pagination .active {
  background-color: #00a300 !important;
}

html .light .contact .info {
  background: #f0f0f0;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

html .light .contact .info i {
  color: #009400;
  background: #f7f7f7;
}

html .light .contact .info h4 {
  color: #009400;
}

html .light .contact .info p {
  color: inherit;
}

html .light .contact .info .address:hover i,
html .light .contact .info .email:hover i,
html .light .contact .info .phone:hover i {
  background: #00a300;
  color: #1a1a1a;
}

html .light .contact .email-form {
  background: #f0f0f0;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

html .light .contact .email-form input,
html .light .contact .email-form textarea {
  background: #e8e8e8;
  border: none;
  color: #4d4d4d;
}

html .light .contact .email-form input:focus,
html .light .contact .email-form textarea:focus {
  box-shadow: 0 0 0 3px #008500;
}

html .light .contact .email-form button[type='submit'] {
  background: #009400;
  color: #e6e6e6;
}

html .light .contact .email-form button[type='submit']:hover {
  background: #008500;
}

html .light .social-links a {
  background: #008500;
  color: #1a1a1a;
}

html .light .social-links a:hover {
  background: #00a300;
  color: #e6e6e6 !important;
}

html .light .back-to-top {
  background: #008500;
  color: #1a1a1a;
}

html .light .back-to-top:hover {
  color: #1a1a1a !important;
  background: #00a300;
}

html .light #header {
  background: #e8e8e8;
}

html .light #header .profile img {
  border: 8px solid #008500;
}

html .light #header .profile h1 a,
html .light #header .profile h1 a:hover {
  color: #1a1a1a;
}

html .light #header .nav-menu a i {
  color: #1a1a1a;
}

html .light #header .nav-menu a span {
  color: #333333;
}

html .light #header .nav-menu .active > a,
html .light #header .nav-menu a:hover,
html .light #header .nav-menu li:hover > a {
  text-decoration: none;
  color: #1a1a1a;
}

html .light #header .nav-menu .active > a i,
html .light #header .nav-menu a:hover i,
html .light #header .nav-menu li:hover > a i {
  color: #00a300;
}

html .light #header .mobile-nav-toggle i {
  color: #00a300;
}

html .dark {
  color: #b3b3b3;
  background: #080808;
}

html .dark a {
  color: #b30000;
}

html .dark a:hover {
  color: maroon !important;
}

html .dark::-webkit-scrollbar-thumb {
  background-color: #b30000;
}

html .dark::-webkit-scrollbar-track {
  background: inherit;
}

html .dark .back-to-top {
  background: #b30000;
  color: #e6e6e6;
}

html .dark #hero {
  background: url(../img/hero/dark.svg) top center;
  transition: all 0.5s;
}

html .dark #hero h1 {
  color: #e6e6e6;
}

html .dark #hero p {
  color: #e6e6e6;
}

html .dark #hero p span {
  color: #e6e6e6;
  border-bottom: 3px solid #b30000;
}

html .dark #main .section-bg {
  background-color: #0f0f0f;
}

html .dark #main .section-title h2 {
  color: #b30000 !important;
}

html .dark #main .section-title::after {
  background: #b30000;
}

html .dark #main .about .content h3 {
  color: #990000;
}

html .dark #main .about .content ul i {
  color: #990000;
}

html .dark #main .resume .resume-title {
  color: #990000;
}

html .dark #main .resume .resume-item {
  border-left: 2px solid #b30000;
}

html .dark #main .resume .resume-item::before {
  background: #e6e6e6;
  border: 2px solid #b30000;
}

html .dark #main .resume .resume-item a {
  color: #b3b3b3;
}

html .dark #main .resume .resume-item h4 {
  color: maroon;
}

html .dark #main .resume .resume-item h5 {
  background: #171717;
}

html .dark #main .portfolio #portfolio-flters {
  background: #080808;
}

html .dark #main .portfolio #portfolio-flters .filter-active {
  color: #990000 !important;
}

html .dark #main .portfolio #portfolio-flters li {
  color: inherit;
}

html .dark #main .portfolio #portfolio-flters li:hover {
  color: #990000 !important;
}

html .dark #main .facts .count-box i {
  color: #b30000;
}

html .dark #main .facts .count-box span {
  color: maroon;
}

html .dark #main .facts .count-box p {
  color: #b30000;
}

html .dark #main .facts .count-box a {
  color: maroon;
}

html .dark #main .facts .count-box a:hover {
  color: #b30000;
}

html .dark #main .skills .progress .skill {
  color: inherit;
}

html .dark #main .skills .progress-bar-wrap {
  background: #b3b3b3;
}

html .dark #main .skills .progress-bar {
  background-color: #990000;
}

html .dark #main .services .icon-box .icon {
  background: #990000;
  border: 1px solid #990000;
}

html .dark #main .services .icon-box .icon i {
  color: #e6e6e6;
}

html .dark #main .services .icon-box:hover .icon {
  background: maroon;
  border: 1px solid #080808;
}

html .dark #main .services .icon-box .title p {
  color: #990000;
}

html .dark #main .services .icon-box .title p:hover {
  color: maroon;
}

html .dark .testimonials .testimonials-item h3 {
  color: #cccccc;
}

html .dark .testimonials .testimonials-item h4 {
  color: #b3b3b3;
}

html .dark .testimonials .testimonials-item .quote-icon-left,
html .dark .testimonials .testimonials-item .quote-icon-right {
  color: maroon;
}

html .dark .testimonials .testimonials-item p {
  background: #e6e6e6;
}

html .dark .testimonials .testimonials-item p::after {
  border-top: 20px solid #e6e6e6;
}

html .dark .testimonials .owl-page {
  background-color: #cccccc !important;
}

html .dark .testimonials .owl-pagination .active {
  background-color: #b30000 !important;
}

html .dark .contact .info {
  background: #0f0f0f;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

html .dark .contact .info i {
  color: #990000;
  background: #080808;
}

html .dark .contact .info h4 {
  color: #990000;
}

html .dark .contact .info p {
  color: inherit;
}

html .dark .contact .info .address:hover i,
html .dark .contact .info .email:hover i,
html .dark .contact .info .phone:hover i {
  background: #b30000;
  color: #e6e6e6;
}

html .dark .contact .email-form {
  background: #0f0f0f;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

html .dark .contact .email-form input,
html .dark .contact .email-form textarea {
  background: #080808;
  border: none;
  color: #b3b3b3;
}

html .dark .contact .email-form input:focus,
html .dark .contact .email-form textarea:focus {
  box-shadow: 0 0 0 3px maroon;
}

html .dark .contact .email-form button[type='submit'] {
  background: #990000;
  color: #b3b3b3;
}

html .dark .contact .email-form button[type='submit']:hover {
  background: maroon;
}

html .dark .social-links a {
  background: maroon;
  color: #e6e6e6;
}

html .dark .social-links a:hover {
  background: #b30000;
  color: #1a1a1a !important;
}

html .dark .back-to-top {
  background: maroon;
  color: #e6e6e6;
}

html .dark .back-to-top:hover {
  color: #e6e6e6 !important;
  background: #b30000;
}

html .dark #header {
  background: #171717;
}

html .dark #header .profile img {
  border: 8px solid maroon;
}

html .dark #header .profile h1 a,
html .dark #header .profile h1 a:hover {
  color: #e6e6e6;
}

html .dark #header .nav-menu a i {
  color: #e6e6e6;
}

html .dark #header .nav-menu a span {
  color: #cccccc;
}

html .dark #header .nav-menu .active > a,
html .dark #header .nav-menu a:hover,
html .dark #header .nav-menu li:hover > a {
  text-decoration: none;
  color: #e6e6e6;
}

html .dark #header .nav-menu .active > a i,
html .dark #header .nav-menu a:hover i,
html .dark #header .nav-menu li:hover > a i {
  color: #b30000;
}

html .dark #header .mobile-nav-toggle i {
  color: #b30000;
}
