@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  font-size: 62.5%;
}
html *:not(h1, h2, h3, h4, h5, h6) {
  transition: background-color 0.5s ease;
  font-size: 1.75rem;
}
html body {
  font-family: "Roboto", sans-serif;
  overflow: overlay;
  margin: 0;
}
html body h2 {
  font-size: 30px;
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  font-family: Raleway, sans-serif;
}
html body::-webkit-scrollbar {
  width: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}
html body::-webkit-scrollbar-button {
  display: none;
}
html body::-webkit-scrollbar-thumb {
  border-radius: 1rem;
}
html body::-webkit-scrollbar-track {
  margin: 0;
}
html body ::-webkit-resizer {
  display: none;
}
html body #hero {
  height: 100vh;
  background-size: cover;
  margin-left: 30rem;
}
html body #hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
html body #hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 30rem;
}
html body #hero .hero-container h1 {
  margin: 0 0 2rem 0;
  font-weight: 700;
  line-height: 7rem;
  font-size: 7rem;
  text-align: center;
}
html body #hero .hero-container p {
  margin-bottom: 5rem;
  font-family: Poppins, sans-serif;
  text-align: center;
}
html body #hero .hero-container p span {
  padding-top: 0.4rem;
  letter-spacing: 0.1rem;
  font-size: 3rem;
}
html body #main {
  overflow: hidden;
  margin-left: 30rem;
}
html body #main section {
  padding-bottom: 4rem;
}
html body #main section .section-title {
  padding-bottom: 3rem;
  padding-top: 3rem;
}
html body #main section .section-title .section-title h2 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  position: relative;
}
html body #main section .section-title .section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 5rem;
  height: 0.3rem;
  bottom: 0;
  left: 0;
}
html body #main .about {
  overflow-x: hidden;
}
html body #main .about .content h3 {
  font-weight: 700;
  font-size: 2.6rem;
}
html body #main .about .content ul {
  list-style: none;
  padding: 0;
}
html body #main .about .content ul li {
  padding-bottom: 1rem;
}
html body #main .about .content ul i {
  font-size: 2rem;
  padding-right: 0.2rem;
}
html body #main .about .content p:last-child {
  margin-bottom: 0;
}
html body #main .about .content .section-title p {
  font-size: 1.8rem;
}
html body #main .resume .resume-title {
  font-size: 2.6rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
html body #main .resume .resume-item {
  padding: 0 0 2rem 2rem;
  margin-top: -0.2rem;
  position: relative;
}
html body #main .resume .resume-item:last-child {
  padding-bottom: 0;
}
html body #main .resume .resume-item::before {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 5rem;
  left: -0.9rem;
  top: 0;
}
html body #main .resume .resume-item a {
  font-weight: 700;
}
html body #main .resume .resume-item h4 {
  line-height: 1.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  margin-bottom: 1rem;
}
html body #main .resume .resume-item h5 {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 1rem;
}
html body #main .resume .resume-item ul {
  padding-left: 2rem;
}
html body #main .resume .resume-item ul li {
  padding-bottom: 1rem;
}
html body #main .portfolio .portfolio-item {
  margin-bottom: 3rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
html body #main .portfolio .portfolio-item .portfolio-wrap {
  width: fit-content;
  margin: 0 auto;
}
html body #main .portfolio .portfolio-item .portfolio-wrap > img {
  transition: all 0.5s;
}
html body #main .portfolio .portfolio-item* {
  border: none !important;
  box-shadow: none !important;
}
html body #main .portfolio .portfolio-item:hover .portfolio-wrap > img {
  transform: scale(1.1);
}
html body #main .portfolio .portfolio-item:hover .portfolio-content {
  visibility: visible;
  opacity: 1;
}
html body #main .portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
html body #main .portfolio .portfolio-wrap .portfolio-content {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 3rem;
}
html body #main .portfolio .portfolio-wrap .portfolio-content h3 {
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0 4rem;
}
html body #main .portfolio .portfolio-wrap .portfolio-content p a {
  text-decoration: underline !important;
}
html body #main .portfolio .portfolio-wrap .portfolio-content .portfolio-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
  z-index: 7;
}
html body #main .portfolio .portfolio-wrap .portfolio-content .portfolio-links a {
  text-decoration: none !important;
}
html body #main .portfolio .portfolio-wrap .portfolio-content .portfolio-links a h4 {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: underline;
}
html body #main .facts .count-box {
  padding: 3rem;
}
html body #main .facts .count-box i {
  display: block;
  font-size: 4.4rem;
  float: left;
}
html body #main .facts .count-box span {
  font-size: 4.8rem;
  line-height: 4rem;
  display: block;
  font-weight: 700;
  margin-left: 6rem;
}
html body #main .facts .count-box p {
  padding: 1.5rem 0 0 0;
  margin: 0 0 0 6rem;
  font-family: Raleway, sans-serif;
  font-size: 1.4rem;
}
html body #main .facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: Poppins, sans-serif;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
html body #main .skills .container .skills-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
html body #main .skills .container .skills-content .skill {
  padding: 1rem 0;
  margin: 0 0 0.6rem 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  margin: 3rem;
  text-align: center;
  transition: transform 0.5s;
}
html body #main .skills .container .skills-content .skill:hover {
  transform: scale(1.1);
}
html body #main .skills .container .skills-content .skill img {
  height: 8rem;
  margin-bottom: 2rem;
  user-select: none;
  width: 8rem;
}
html body #main .skills .container .skills-content .skill h5 {
  font-size: 1.65rem;
  font-weight: 700;
}
html body #main .services .icon-box + .icon-box {
  margin-top: 2rem;
}
html body #main .services .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.4rem;
  height: 5.4rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
html body #main .services .icon-box .icon i {
  font-size: 2.4rem;
}
html body #main .services .icon-box .title {
  margin-left: 8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
html body #main .services .icon-box .title p {
  font-size: 1.8rem;
}
html body #main .services .icon-box .description {
  margin-left: 8rem;
  line-height: 2.4rem;
  font-size: 1.5rem;
}
html body #main .testimonials .testimonials-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 32rem;
  margin: 0 2rem;
}
html body #main .testimonials .testimonials-item .testimonial-img {
  width: 9rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto;
}
html body #main .testimonials .testimonials-item h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 1rem 0 0.5rem 0;
}
html body #main .testimonials .testimonials-item h4 {
  font-size: 1.4rem;
  margin: 0;
}
html body #main .testimonials .testimonials-item .quote-icon-left,
html body #main .testimonials .testimonials-item .quote-icon-right {
  font-size: 3rem;
}
html body #main .testimonials .testimonials-item .quote-icon-left {
  display: inline-block;
  left: -0.5rem;
  position: relative;
}
html body #main .testimonials .testimonials-item .quote-icon-right {
  display: inline-block;
  right: -0.5rem;
  position: relative;
  top: 1rem;
}
html body #main .testimonials .testimonials-item p {
  font-style: italic;
  margin: 0 1.5rem 1.5rem 1.5rem;
  padding: 2rem;
  position: relative;
  margin-bottom: 3.5rem;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}
html body #main .testimonials .testimonials-item p::after {
  content: "";
  width: 0;
  height: 0;
  border-right: 2rem solid transparent;
  border-left: 2rem solid transparent;
  position: absolute;
  bottom: -2rem;
  left: calc(50% - 2rem);
}
html body #main .testimonials .owl-nav,
html body #main .testimonials .owl-pagination {
  margin-top: 0.5rem;
  text-align: center;
}
html body #main .testimonials .owl-page {
  display: inline-block;
  margin: 0 0.5rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
html body #contact-form + div {
  bottom: 70px !important;
  right: 15px !important;
  pointer-events: none;
}
html body #contact-form + div > div {
  pointer-events: all;
}
html body #contact-form + div > div:first-child {
  width: 320px !important;
  text-align: center;
}
html body #contact-form + div > div + div {
  width: 40px !important;
  height: 40px !important;
}
html body #footer {
  padding: 1.5rem;
  font-size: 1.4rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 30rem;
  z-index: 9999;
}
html body #footer .copyright {
  text-align: center;
}
html body #footer .credits {
  padding-top: 0.5rem;
  text-align: center;
  font-size: 1.3rem;
}
html body .back-to-top {
  position: fixed;
  display: none;
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  right: 1.5rem;
  bottom: 1.5rem;
  transition: display 0.5s ease-in-out;
  -webkit-transition: display 0.5s ease-in-out;
  -moz-transition: display 0.5s ease-in-out;
  -ms-transition: display 0.5s ease-in-out;
  -o-transition: display 0.5s ease-in-out;
  z-index: 9999;
}
html body .back-to-top i {
  font-size: 2.4rem;
  position: absolute;
  top: 0.7rem;
  left: 0.8rem;
}
html body .back-to-top:hover {
  transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
}
@media (max-width: 1199px) {
  html body #header {
    left: -30rem;
  }
  html body #main,
html body #hero {
    margin-left: 0;
  }
}
@media screen and (min-width: 1024px) {
  html body #hero {
    background-attachment: fixed;
  }
  html body #hero h1 {
    font-size: 6.4rem;
  }
  html body #hero p {
    font-size: 3.4rem;
  }
}
@media screen and (max-width: 1023px) {
  html body #hero h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
  html body #hero p {
    font-size: 2.5rem;
    line-height: 2.4rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 767px) {
  html body .testimonials {
    margin: 3rem 1rem;
  }
}
@media screen and (max-width: 450px) {
  html body .jconfirm-content div {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1199px) {
  html body #footer {
    position: static;
    width: auto;
    padding-right: 2rem 1.5rem;
  }
}
@media screen and (max-width: 384px) {
  html body .checkmark {
    min-width: 5.6rem;
    min-height: 5.6rem;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
html body .social-links .social-container {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  line-height: 1;
  padding: 0.8rem 0;
  margin-right: 0.4rem;
  text-align: center;
  transition: all 0.3s;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
html body .social-links .social-container a {
  font-size: 1.8rem;
  transition: all 0.3s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .social-links .social-container a:hover {
  text-decoration: none;
}
html body .social-links .social-container a img {
  width: 1.6rem !important;
  height: 1.6rem !important;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30rem;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 1.5rem;
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
#header::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
#header .profile > img {
  margin: 1.5rem auto;
  display: block;
  width: 12rem;
  min-height: 12rem;
}
#header .profile h1 {
  font-size: 2.4rem;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: Poppins, sans-serif;
}
#header .profile h1 a {
  font-size: 2.4rem;
}
#header .profile h1 a,
#header .profile h1 a:hover {
  text-decoration: none;
}
#header .nav-menu {
  padding-top: 3rem;
}
#header .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
#header .nav-menu ul > li {
  position: relative;
  white-space: nowrap;
}
#header .nav-menu a {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.5rem;
  transition: 0.3s;
  font-size: 1.5rem;
}
#header .nav-menu a i {
  font-size: 2.4rem;
  padding-right: 0.8rem;
}
#header .nav-menu .active > a,
#header .nav-menu a:hover,
#header .nav-menu li:hover > a {
  text-decoration: none;
}
#header .nav-menu .theme-toggle-list-item {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.5rem;
}
#header .nav-menu .theme-toggle-list-item .theme-toggle {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  cursor: pointer;
  width: 6rem;
  height: 3rem;
  background-image: url("../../img/theme-toggle/light-background.webp");
  background-size: cover;
  border-radius: 5rem;
  outline: none;
  transition: background-image 0.9s;
}
#header .nav-menu .theme-toggle-list-item .theme-toggle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 3rem;
  width: 3rem;
  background-color: navy;
  border-radius: 5rem;
  transition: all 0.9s;
  background-color: #f7ca33;
}
#header .nav-menu .theme-toggle-list-item .theme-toggle:checked {
  background-image: url("../../img/theme-toggle/dark-background.png.webp");
  transition: background-image 0.9s;
}
#header .nav-menu .theme-toggle-list-item .theme-toggle:checked:before {
  transform: translate(100%);
  transition: all 0.9s;
  background-color: #ecf0f3;
}
#header .mobile-nav-toggle {
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  z-index: 9998;
  border: 0;
  background: 0 0;
  font-size: 2.4rem;
  transition: all 0.4s;
  outline: 0 !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-active {
  overflow: hidden !important;
}
.mobile-nav-active #header {
  left: 0 !important;
}

.row {
  margin: 0 !important;
}

html .dark {
  color: #ededed;
  background: #080808;
}
html .dark *::selection:not(button) {
  background: #990000;
  color: #ededed;
}
html .dark a::selection:not(:hover) {
  background: #ffffff !important;
  color: #000000 !important;
}
html .dark a:hover {
  color: maroon !important;
}
html .dark::-webkit-scrollbar-thumb {
  background-color: #b30000;
}
html .dark::-webkit-scrollbar-track {
  background: inherit;
}
html .dark .back-to-top {
  background: maroon;
  color: #fafafa;
}
html .dark .back-to-top:hover {
  color: #fafafa !important;
  background: #b30000;
}
html .dark .back-to-top::selection {
  background: #ffffff !important;
  color: #000000 !important;
}
html .dark #contact-form + div > div {
  background-color: #0f0f0f !important;
}
html .dark #contact-form + div > div + div {
  background: maroon !important;
  color: #fafafa !important;
}
html .dark #contact-form + div > div + div:hover {
  background: #b30000 !important;
}
html .dark #contact-form + div > div button {
  background: #b30000 !important;
  color: #fafafa !important;
}
html .dark #contact-form + div > div button:hover {
  background: maroon !important;
}
html .dark #hero {
  background: url(../../img/hero/dark.svg) top center;
  transition: all 0.5s;
}
html .dark #hero h1 {
  color: #fafafa;
}
html .dark #hero p {
  color: #fafafa;
}
html .dark #hero p span {
  color: #fafafa;
  border-bottom: 3px solid #b30000;
}
html .dark #main .section-bg {
  background-color: #0f0f0f;
}
html .dark #main .section-title h2 {
  color: #b30000 !important;
}
html .dark #main .section-title h2::selection {
  background: #ffffff !important;
  color: #000000 !important;
}
html .dark #main .section-title::after {
  background: #b30000;
}
html .dark #main .about .content h3 {
  color: #990000;
}
html .dark #main .about .content h3::selection {
  background: #ffffff !important;
  color: #000000 !important;
}
html .dark #main .about .content ul i {
  color: #990000;
}
html .dark #main .about .content ul i::selection {
  background: #ffffff !important;
  color: #000000 !important;
}
html .dark #main .resume .resume-title {
  color: #990000;
}
html .dark #main .resume .resume-title::selection {
  background: #ffffff !important;
  color: #000000 !important;
}
html .dark #main .resume .resume-item {
  border-left: 2px solid #b30000;
}
html .dark #main .resume .resume-item::before {
  background: #fafafa;
  border: 2px solid #b30000;
}
html .dark #main .resume .resume-item a {
  color: #ededed;
  text-decoration: underline;
  text-underline-offset: 1px;
  cursor: pointer;
}
html .dark #main .resume .resume-item h4 {
  color: maroon;
}
html .dark #main .resume .resume-item h4::selection {
  background: #ffffff !important;
  color: #000000 !important;
}
html .dark #main .resume .resume-item h4 sub::selection {
  background: #ffffff !important;
  color: #000000 !important;
}
html .dark #main .resume .resume-item h5 {
  background: #171717;
}
html .dark #main .portfolio .portfolio-wrap .portfolio-content {
  background-color: #080808;
  background: #080808;
  color: #fafafa;
}
html .dark #main .portfolio .portfolio-wrap .portfolio-content p a {
  color: #fafafa !important;
}
html .dark #main .portfolio .portfolio-wrap .portfolio-content .portfolio-links a {
  text-decoration: none !important;
}
html .dark #main .portfolio .portfolio-wrap .portfolio-content .portfolio-links a h4 {
  color: #f2f2f2;
}
html .dark #main .skills .progress .skill {
  color: inherit;
}
html .dark #main .skills .progress-bar-wrap {
  background: #ededed;
}
html .dark #main .skills .progress-bar {
  background-color: #990000;
}
html .dark #main .services .icon-box .icon {
  background: #990000;
  border: 1px solid #990000;
}
html .dark #main .services .icon-box .icon i {
  color: #fafafa;
}
html .dark #main .services .icon-box:hover .icon {
  background: maroon;
  border: 1px solid #080808;
}
html .dark #main .services .icon-box .title p {
  color: #990000;
}
html .dark #main .services .icon-box .title p::selection {
  background: #ffffff !important;
  color: #000000 !important;
}
html .dark #main .services .icon-box .title p:hover {
  color: maroon;
}
html .dark .social-links .social-container {
  background: maroon;
}
html .dark .social-links .social-container:hover {
  background: #b30000;
}
html .dark .social-links .social-container:hover a {
  color: #000 !important;
}
html .dark .social-links .social-container a {
  color: #fafafa;
}
html .dark #header {
  background: #171717;
}
html .dark #header .profile > img {
  border: 8px solid maroon;
}
html .dark #header .profile h1 a,
html .dark #header .profile h1 a:hover {
  color: #fafafa;
}
html .dark #header .nav-menu a i {
  color: #fafafa;
}
html .dark #header .nav-menu a span {
  color: #f2f2f2;
}
html .dark #header .nav-menu .active > a,
html .dark #header .nav-menu a:hover,
html .dark #header .nav-menu li:hover > a {
  text-decoration: none;
  color: #fafafa;
}
html .dark #header .nav-menu .active > a i,
html .dark #header .nav-menu a:hover i,
html .dark #header .nav-menu li:hover > a span,
html .dark #header .nav-menu li:hover > a i {
  color: #b30000;
}
html .dark #header .mobile-nav-toggle i {
  color: #b30000;
}
html .dark #header .mobile-nav-toggle i::selection {
  background: #ffffff !important;
  color: #000000 !important;
}

/*# sourceMappingURL=style.css.map */
